<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body style="background-image: url('https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80'); background-repeat: no-repeat;
  background-size: cover">
<p></p>
<h1 style="text-align:center; color:white; font-size:xx-large">Web App</h1>
<p style="text-align:center; color:white; font-size:x-large">This app is created to allow the user to sign in and sign up!</p>
<p style="color:white; font-size:x-large">* To sign Up, <a style="color:white; font-size:larger" href="/signup">Click Here</a></p>
<p style="color:white; font-size:x-large">* To Login, <a style="color:white; font-size:larger" href="/login">Click Here</a></p>
<p style="color:white; font-size:x-large">* To See All Users, <a style="color:white; font-size:larger" href="/allUsers">Click Here</a></p>
<p style="color:white; font-size:x-large">* To See All Posts, <a style="color:white; font-size:larger" href="/feed">Click Here</a></p>
<p style="color:white; font-size:x-large">* To Add Post, <a style="color:white; font-size:larger" href="/posts/add">Click Here</a></p>
</body>
</html>