<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image: url('https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80'); background-repeat: no-repeat;
background-size: cover">

<h2 style="text-align:center; color:white; font-size:xx-large">Login!</h2>
<form action="perform_login" method='POST' style="text-align:center; border: 5px solid white; width: 750px; margin-left:auto; margin-right:auto"
  >
    <br>
    <br>
    <table style="text-align:center; margin-left:auto; margin-right:auto">
        <tr style="text-align:center">
            <td style="color:white; font-size:x-large; text-align:center">User Name:</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr style="text-align:center">
            <td style="color:white; font-size:x-large; text-align:center">Password:</td>
            <td><input type='password' name='password' /></td>
<!--        </tr>-->
<!--        <tr style="text-align:center">-->
<!--            <td >-->
<!--        </tr>-->

    </table>
    <input style="color:black; text-align:center; margin-left:auto; margin-right:auto; font-size:larger; background-color: white; width: 100px; border: 2px solid pink" name="submit" type="submit" value="Submit" />
    <br>
    <br>
</form>

</body>
</html>