<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image: url('https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80'); background-repeat: no-repeat;
  background-size: cover">

<h2 style="text-align:center; color:white; font-size:xx-large">Sign Up!</h2>

<form method="POST" action="/signup" style="text-align:center; border: 5px solid white; width: 750px; margin-left:auto; margin-right:auto">
    <br>
    <br>
    <label for="username" style="color:white; font-size:x-large">User name</label>
    <input id="username" name="username" type="text">
    <br>
    <br>
    <label for="password" style="color:white; font-size:x-large">Password</label>
    <input id="password" name="password" type="password">
    <br>
    <br>
    <label for="firstName" style="color:white; font-size:x-large">First Name</label>
    <input id="firstName" name="firstName" type="text">
    <br>
    <br>
    <label for="lastName" style="color:white; font-size:x-large">Last Name</label>
    <input id="lastName" name="lastName" type="text">
    <br>
    <br>
    <label for="dateOfBirth" style="color:white; font-size:x-large">Date of Birth</label>
    <input id="dateOfBirth" name="dateOfBirth" type="date">
    <br>
    <br>
    <label for="bio" style="color:white; font-size:x-large">Bio</label>
    <input id="bio" name="bio" type="text">
    <br>
    <br>
    <button type="submit" style="color:black; font-size:larger; background-color: white; width: 100px; border: 2px solid pink">Submit</button>
    <br>
    <br>

</form>
</body>
</html>